[submodule "lib/SDL2"]
	path = lib/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.24.x
[submodule "lib/GLM"]
	path = lib/GLM
	url = https://github.com/g-truc/glm.git
[submodule "lib/GL3W"]
	path = lib/GL3W
	url = https://github.com/skaslev/gl3w.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
